

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --items-width: 1260px;
    --background-color: #f4f4f4;

}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html, button {
    /* HACK 10px*/ 
    font-size: 62.5%; 
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif !important;
    /* box-sizing: border-box; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background-color);
    min-width: var(--items-width);
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__ful-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

